.profile-wrapper{
    
    display: flex;
    width: 500px;
    height: 800px;
    background-color: white;
    border: 2px solid black;
    margin: 20px auto;
    position: absolute;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

.modal-edit-window{
    width: 500px;
    height: 800px;
    background-color: white;
    border: 2px solid black;
    margin: 20px auto;
    z-index: 1;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}
.handleInput{
    display: flex;
    flex-direction: column;
    width: 350px;
    font-size: 18px;
}
.handleInput input{
    height: 60px;
    border-radius: 10px;
}
.handleArea{
    display: flex;
    flex-direction: column;
    width: 350px;
   
    
}
.handleArea textarea{
    height: 150px;
    border-radius: 10px;

}